<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Rating</title>
  </head>
  <body>
    <h2>Book: {{data['title']}}</h3>
    <h3>Current Rating: {{data['rating']}}</h2>
    <form action="{{url_for('edit')}}/{{data['id']}}" method="POST">
      <label for="chenge_rating">Change Rating</label>
      <input type="text" name="rating" />
      <input type="hidden"  name="id" value="{{data['id']}}">
      <button type="submit">Submit Rating</button>
    </form>
  </body>
</html>
