<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Cafe&Wifi API</title>
  </head>
  <body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <p>
      Check out the docs here:<span
        ><a
          href="https://documenter.postman.com/preview/7071136-62d36b9b-074c-475f-a687-e7c798a209ee?environment=&versionTag=latest&apiName=CURRENT&version=latest&documentationLayout=classic-double-column&documentationTheme=light&logo=https%3A%2F%2Fres.cloudinary.com%2Fpostman%2Fimage%2Fupload%2Ft_team_logo%2Fv1%2Fteam%2Fanonymous_team&logoDark=https%3A%2F%2Fres.cloudinary.com%2Fpostman%2Fimage%2Fupload%2Ft_team_logo%2Fv1%2Fteam%2Fanonymous_team&right-sidebar=303030&top-bar=FFFFFF&highlight=FF6C37&right-sidebar-dark=303030&top-bar-dark=212121&highlight-dark=FF6C37"
          >API Docs</a
        ></span
      >
    </p>
  </body>
</html>
